# Optional
NEXT_PUBLIC_API_DOMAIN=
GATEWAY_SERVER_SECRET=
GATEWAY_SERVER_ID=
NEXT_PUBLIC_API_KEY=
SCHEMA_URL=
CLARITY_PROJECT_ID=
NEXT_PUBLIC_WALLET_CONNECT_ID=b0704c813687a218fc20bcb844ad4ada
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
